@import '../../animations.scss';

.Hexagons {
    display: flex;
    align-content: center;
    position: relative;
    position: fixed;
    bottom: 20px;
    top: left;
    margin: 10px;
}

.Hexagon {
    position: absolute;
    bottom: 0;
    animation:
        float-up 10s infinite,
        spin 20s infinite;
    animation-timing-function: linear;
}
