$Vaakuna-blue: #006BB7;
$Vaakuna-gold: #FDB726;
$Vaakuna-grey: #CACBCD;

$Vantaa-edge: #1343A9;
$Vantaa-inner: #2391E0;
$Vantaa-center: #5ECEF6;
$Tikkurila-edge: #D6052F;
$Tikkurila-inner: #FA413C;
$Tikkurila-center: #FDA4B6;
$Aviapolis-edge: #FA4F19;
$Aviapolis-inner: #FC8E1F;
$Aviapolis-center: #FDCD9C;
$Myyrmäki-edge: #4F0F9B;
$Myyrmäki-inner: #883CC2;
$Myyrmäki-center: #CEA8E5;
$Koivukylä-edge: #127B5D;
$Koivukylä-inner: #23C28A;
$Koivukylä-center: #83E2B8;
$Hakunila-edge: #106172;
$Hakunila-inner: #20A6AF;
$Hakunila-center: #52DCE7;
$Korso-edge: #247820;
$Korso-inner: #1CC246;
$Korso-center: #CCEA92;
$Kivistö-edge: #CC1587;
$Kivistö-inner: #FA3FB2;
$Kivistö-center: #FCA8DC;

$tablet: 480px;
$laptop: 768px;
$desktop: 1280px;
